# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# FreeCAD
*.FCStd1
*.FCBak
*.FCTmp
*.FCRtmp

# CFD cache / logs
log.*
*.log
postProcessing/
processor*/

# OS
.DS_Store
Thumbs.db

# Virtual env
.env
.venv
